.profile{
    padding-top: 70px;
}

.rating-and-problem-graphs{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-container{
    display: flex;
}

.profile-container .profile-container-picture img{
    width: 80px;
}