.navbar{
    background-color: #464646;
    height: 50px;
    display: flex;
    align-items: center;
}

.logo{
    height: 20px;
}

.navbar-left{
    display: flex;
    margin-left: 10px;
    justify-content: space-between;
    width: 500px;
}