.navbar{
    background-color: #464646;
    padding: 12px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 20px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap:20px;
    font-size: 18px;
}

.navbar-left{
    display: flex;
}
