@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: #1b1b1b;
   color: #CFCFCF;
}

input{
    color:#2d2d2d;
}

input::placeholder{
    color:#CFCFCF;
}
