.contest-page{
    padding-top: 70px;
    color:white;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
}

.contest-page-left{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 80px;
    gap: 30px;
}

.contest-page-right{ 
    width: 50%;
    box-shadow: 0 0 12px rgba(0,0,0,0.4);
    height: 50%;
    margin-top: 80px;
}

.contest-page-right-heading{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background: #1E1E21;
    padding: 10px 10px;
    border-bottom: 1px solid #2A2A2D;
    color:#C6C7C8;
}

.contest-page-right-content{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 20px 20px;
    box-shadow: 0 0 12px rgba(0,0,0,0.4);
    margin-top: 10px;
    border-bottom: 1px solid #29292C;
    transition: 0.25s ease;
    color:#F2F3F5;
}

.contest-page-left-top , .contest-page-left-bottom{

    box-shadow: 0 0 12px rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contest-page-right-content:hover{
    background: #212124;
}

.contest-page-right-content p:last-child {
  background: #F58A16;
  padding: 4px 14px;
  border-radius: 18px;
  font-weight: 700;
  color: #000;
  justify-self: center;
  width: fit-content;
}

.contest-page-left-top-heading{
    display: grid;
    grid-template-columns: 9fr 9fr 1fr;
    background: #1E1E21;
    padding: 10px 10px;
    border-bottom: 1px solid #2A2A2D;
    color:#C6C7C8;
}

.upcoming-contest-box{
    display: grid;
    grid-template-columns: 9fr 9fr 1fr;
    padding: 20px 20px;
    box-shadow: 0 0 12px rgba(0,0,0,0.4);
    margin-top: 10px;
    border-bottom: 1px solid #29292C;
    transition: 0.25s ease;
    color:#F2F3F5;
}

.upcoming-contest-box:hover{
    background: #212124;
}